<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Users" type="GeneralComponent.AuthoritionConfiguration, GeneralComponent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Configer" type="GeneralComponent.ConfigConfiguration, GeneralComponent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Algorithm" type="GeneralComponent.AlgorithmItemConfiguration, GeneralComponent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="Notifier" type="GeneralComponent.NotifierConfiguration, GeneralComponent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <Users FileName="Scan.Users.auth" />
  <Configer FileName="Scan.Config.cfg" />
  <Algorithm FileName="Scan.Algorithms.cfg" />
  <Notifier FileName="Scan.NotifyInfos.cfg" />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>